{% extends "base.html" %}
{% block title %}新しいパスワード設定{% endblock %}

{% block content %}
<section class="login container">
  <div class="head-set">
    <h2>PASSWORD RESET</h2>
    <h3>新しいパスワード設定</h3>
  </div>

  <form method="post" action="{{ action_url }}" class="form">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form__wrap">
      <div class="field">
        <label for="{{ form.password1.id_for_label }}">新しいパスワード</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
      </div>

      <div class="field">
        <label for="{{ form.password2.id_for_label }}">確認用パスワード</label>
        {{ form.password2 }}
        {{ form.password2.errors }}
      </div>

      <button type="submit">保存する</button>
    </div>
  </form>
</section>
{% endblock %}
