{% extends "base.html" %}
{% load static %}

{% block title %}パスワード再設定{% endblock %}

{% block content %}
<section class="login container">
  <div class="head-set">
    <h2>PASSWORD RESET</h2>
    <h3>パスワード再設定</h3>
  </div>

  <form method="post" action="{% url 'account_reset_password' %}" class="form">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form__wrap">
      <div class="field">
        <label for="{{ form.email.id_for_label }}">登録メールアドレス</label>
        {{ form.email }}
        {{ form.email.errors }}
      </div>

      <button type="submit">送信する</button>
    </div>
  </form>

  <p class="is-login">
    ログインは <a href="{% url 'account_login' %}">こちら</a>
  </p>
</section>
{% endblock %}
