{# templates/account/signup.html #}
{% extends "base.html" %}
{% load i18n %}

{% block title %}新規登録{% endblock %}

{% block content %}

<div class="signup">
    <div class="head-set">
		<h2>PROFILE EDIT</h2>
		<h3>プロフィール編集</h3>
	</div>

    <form method="post" class="form" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form__wrap">

            <!-- メールアドレス -->
            <div class="field form-group">
                <label for="{{ form.email.id_for_label }}">メールアドレス</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <!-- ニックネーム -->
            <div class="field form-group">
                <label for="{{ form.nickname.id_for_label }}">ニックネーム</label>
                {{ form.nickname }}
                {{ form.nickname.errors }}
            </div>

            <!-- 性別 -->
            <div class="field form-group">
                <label for="{{ form.gender.id_for_label }}">性別</label>
                <div class="inner">
                    {{ form.gender }}
                </div>
                    {{ form.gender.errors }}
            </div>

            <!-- 恋愛対象 -->
            <div class="field form-group">
                <label for="{{ form.sexual_object_pref.id_for_label }}">恋愛対象</label>
                <div class="inner">{{ form.sexual_object_pref }}</div>
                {{ form.sexual_object_pref.errors }}
            </div>

            <!-- 居住地 -->
            <div class="field form-group">
                <label for="{{ form.main_area.id_for_label }}">居住地</label>
                {{ form.main_area }}
                {{ form.main_area.errors }}
            </div>

            <!-- パスワード -->
            <div class="field form-group">
                <label for="{{ form.password1.id_for_label }}">パスワード</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <p class="caution">※8文字以上、数字のみ不可などの条件を満たしてください。</p>
            <!-- パスワード確認 -->
            <div class="field form-group">
                <label for="{{ form.password2.id_for_label }}">パスワード（確認）</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>

        </div>

        <button type="submit">
            登録する
        </button>
    </form>

    <p class="is-login">
        既にアカウントをお持ちの場合は<br>
        <a href="{% url 'account_login' %}" class="text-blue-600 underline">こちら</a>
    </p>
</div>


{% endblock %}
