
{# templates/account/verification_sent.html #}
{% extends "base.html" %}
{% load i18n %}

{% block title %}メール確認のお願い{% endblock %}

{% block content %}
<div class="email-sent">
    <div class="wrap container">
        <h1>メール確認のお願い</h1>

        <p>
            ご登録のメールアドレス宛に確認メールを送信しました。<br>
            受信ボックス（および迷惑メールフォルダ）をご確認のうえ、<br>
            メール内の <strong>確認リンク</strong> をクリックしてください。<br>
            メールが届かない場合は、アドレスの入力ミスや<br>
            受信設定をご確認のうえ、再送信をお試しください。
        </p>

    
        <a href="{% url 'account_email' %}">
            メールを再送信する
        </a>
    </div>
</div>
{% endblock %}
