__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
.zip
.DS_Store

# 環境ファイル
.env
*.env

# 仮想環境
venv/
.venv/

# Docker
.yml
compose.yml
.env-production

# env files
.env*
!.env.example
.env*
!.env.example
.env-production
.env-local