<!-- templates/core/partices/parts-plan.html -->
{% load static %}


	<section class="price" id="price">
        <div class="container">
            <div class="mainTitle">ご利用料金</div>
            <div class="subtitle">
                一般的な結婚相談所での料金は、成婚まで平均して約30万円前後*。<br>
                エクスマッチのスタンダードプランが高いと思うか、安いと感じるか。<br>
                それはあなた次第です。
                <span>*当社調べの中央値。初期費用(約104,500円)、月会費(約21,450円)、成婚料(約220,000円)で計算。</span>
            </div>

            <div class="price__ver3">

                <div class="catch">
                    <p>エクスマッチは全機能をどのプランでも使えます</p>
                    <span>※フリープランを除く</span>
                </div>
                <div class="base-area">
                    <div class="box free">
                        <div class="head">フリー<span>FREE</span></div>
                        <div class="wrap">
                            <div class="disc">初めて婚活マッチングを利用する方に<br>ピッタリのお試しプラン</div>
                            <div class="inner">
                                <div class="left">
                                    <div class="numb-month">0</div>
                                </div>
                                <div class="right">
                                    <ul class="check">
                                        <li>価値観診断</li>
                                        <li>価値観マッチ ( 価値観による紹介 )</li>
                                        <li>お相手のプロフィールを見る</li>
                                        <li>お相手に「いいね！」をする</li>
                                        <li>「いいね！」をくれた方とマッチングする ( 無制限 )</li>
                                        <li>非表示機能</li>
                                        <li>初回メッセージ１通のみ</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box default">
                        <div class="head">1ヶ月プラン</div>
                        <div class="wrap">
                            <div class="numb numb-month">4,500</div>
                            <ul class="check">
                                <li>すべての機能が無制限で使えます</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="pack-area">
                    <div class="box">
                        <div class="head">
                            <div class="inner">3ヶ月パック</div>
                            <div class="getugaku numb-month">3,850</div>
                        </div>
                        <div class="amount">
                            <div class="numb-month">11,550</div>
                        </div>
                        <div class="agel">
                            <div class="sarani">
                                <div class="wrap">
                                    さらに！
                                </div>
                            </div>
                            <div class="present">
                                <div class="img">
                                    <img src="{% static 'img/a-gel.png' %}" alt="">
                                </div>
                                <div class="text">
                                    <span>4,620円分</span>プレゼント
                                </div>
                            </div>
                            <div class="about">
                                <a href="">A-GELポイントとは？</a>
                            </div>
                        </div>
                        <div class="camp">
                            <div class="head">オープニングキャンペーン</div>
                            <p><span>1ヶ月分無料</span></p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="head">
                            <div class="inner">6ヶ月パック</div>
                            <div class="getugaku numb-month">3,150</div>
                        </div>
                        <div class="amount">
                            <div class="numb-month">18,900</div>
                        </div>
                        <div class="agel">
                            <div class="sarani">
                                <div class="wrap">
                                    さらに！
                                </div>
                            </div>
                            <div class="present">
                                <div class="img">
                                    <img src="{% static 'img/a-gel.png' %}" alt="">
                                </div>
                                <div class="text">
                                    <span>7,560円分</span>プレゼント
                                </div>
                            </div>
                            <div class="about">
                                <a href="">A-GELポイントとは？</a>
                            </div>
                        </div>
                        <div class="camp">
                            <div class="head">オープニングキャンペーン</div>
                            <p><span>2ヶ月分無料</span></p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="head">
                            <div class="inner">12ヶ月パック</div>
                            <div class="getugaku numb-month">2,450</div>
                        </div>
                        <div class="amount">
                            <div class="numb-month">29,400</div>
                        </div>
                        <div class="agel">
                            <div class="sarani">
                                <div class="wrap">
                                    さらに！
                                </div>
                            </div>
                            <div class="present">
                                <div class="img">
                                    <img src="{% static 'img/a-gel.png' %}" alt="">
                                </div>
                                <div class="text">
                                    <span>11,760円分</span>プレゼント
                                </div>
                            </div>
                            <div class="about">
                                <a href="">A-GELポイントとは？</a>
                            </div>
                        </div>
                        <div class="camp">
                            <div class="head">オープニングキャンペーン</div>
                            <p><span>3ヶ月分無料</span></p>
                        </div>
                    </div>
                </div>
                <div class="option-area">
                    <div class="mainTitle">オプション</div>
                    <div class="subtitle">ご要望にお答えして<br>
                        深い部分までわかる追加オプションを導入しました
                    </div>

                    <div class="contents">
                        <ul class="check">
                            <li>性指向などのプラスプロフィールが見れる</li>
                        </ul>
                        <div class="price">
                            <div class="numb-month">1,500</div>
                        </div>
                    </div>
                    <div class="camp">
                        <div class="head">期間限定キャンペーン<span>50%OFF</span></div>
                        <div class="numb">750</div>
                    </div>
                    <div class="about container">
                        <div class="toggle">プラスプロフィールとは？</div>
                        <div class="toggle-contents">
                            <div class="img">
                                <img src="{% static 'img/ft3.webp' %}" alt="">
                            </div>
                            <p>
                                離婚原因のひとつにセックスレスが挙げられます。話しておけばよかった、といったことがないように、出会う前から正直にお話いただくことで成婚率がぐんと上がります。
                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <!-- ver2 -->
            <!-- <div class="price__special">
                <div class="main">
                    <div class="toggle" id="toggleContainerStandard">
                        <button data-plan="normal">通常価格</button>
                        <button data-plan="3months" class="active">3ヶ月パック<span>1ヶ月分</span></button>
                        <button data-plan="6months">6ヶ月パック<span>2ヶ月分</span></button>
                        <button data-plan="12months">12ヶ月パック<span>3ヶ月分</span></button>
                    </div>

                    <div class="price__special__wrap">
                        <div class="box free">
                            <div class="numb">0</div>
                            <div class="plan">フリー<span>FREE</span></div>
                            <div class="disc">初めて婚活マッチングを利用する方に<br>ピッタリのお試しプラン</div>
                            <button><a href="">無料ではじめる</a></button>
                            <ul>
                                <li>価値観診断</li>
                                <li>価値観マッチ ( 価値観による紹介 )</li>
                                <li>お相手のプロフィールを見る</li>
                                <li>お相手に「いいね！」をする</li>
                                <li>「いいね！」をくれた方とマッチングする ( 無制限 )</li>
                                <li>非表示機能</li>
                                <li>初回メッセージ１通のみ</li>
                            </ul>
                        </div>
                        <div class="box standard">
                            <div class="numb" id="numbPriceStandard">3850</div>
                            <div class="plan">スタンダード<span>STANDARD</span></div>
                            <div class="disc">すべての基本的な機能が利用できる<br>オールインクルーシブプラン</div>
                            <button><a href="">いますぐはじめる</a></button>
                            <ul>
                                <li>お相手とのメッセージのやりとり(無制限)※本人・年齢確認必須</li>
                                <li>「いいね！」できる回数が60回に回復（有料会員登録直後のみ）</li>
                                <li>「いいね！」を送れる回数が、毎月60回に増量</li>
                                <li>あなたを検索結果の上位に表示</li>
                                <li>相手が今もらっている、「いいね！」数がわかる</li>
                                <li>一部並び替え機能(「いいね！」の多い順、新着会 員順、ログイン順)</li>
                                <li>足あとが5件以上見られる</li>
                            </ul>
                            <div class="amount">
                                <span class="wrap">合計</span>
                                <span class="inner" id="amountPriceStandard">11500</span>
                            </div>
                            <div class="agel" id="agelBoxStandard">
                                <div class="sarani">
                                    <div class="wrap">
                                        さらに！
                                    </div>
                                </div>
                                <div class="present">
                                    <div class="img">
                                        <img src="{% static 'img/a-gel.png' %}" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="wrap">
                                            <div class="inner">
                                                <span id="presentPriceStandard">4,620</span>円分
                                            </div>
                                            プレゼント
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="advansed">
                    <div class="title">追加オプション</div>
                    <p>本気で出会ったとしても、その後続かなかったら。<br>包み隠さず知れるオプションです</p>

                    <div class="toggle" id="toggleContainerAdvanced">
                        <button data-plan="normal">通常価格</button>
                        <button data-plan="3months" class="active">3ヶ月パック</button>
                        <button data-plan="6months">6ヶ月パック<span>10%</span></button>
                        <button data-plan="12months">12ヶ月パック<span>20%</span></button>
                    </div>

                    <div class="price__special__wrap">
                        <div class="box advansed">
                            <div class="numb" id="numbPriceAdvanced">3000</div>
                            <div class="plan">アドバンスド<span>advansed</span></div>
                            <div class="disc">深い部分の相性がわかる<br>追加オプション</div>
                            <button><a href="">ホンキではじめる</a></button>
                            <ul>
                                <li>スタンダードプランのすべての機能が使える</li>
                                <li>性癖のプロフィールが見れる</li>
                            </ul>
                            <div class="amount">
                                <span class="wrap">合計</span>
                                <span class="inner" id="amountPriceAdvanced">1500</span>
                            </div>
                            <div class="agel" id="agelBoxAdvanced">
                                <div class="sarani">
                                    <div class="wrap">
                                        さらに！
                                    </div>
                                </div>
                                <div class="present">
                                    <div class="img">
                                        <img src="{% static 'img/a-gel.png' %}" alt="">
                                    </div>
                                    <div class="text">
                                        <div class="wrap">
                                            <div class="inner">
                                                <span id="presentPriceAdvanced">480</span>円分
                                            </div>
                                            プレゼント
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- 一度提案用に消す -->
            <!-- <div class="price__wrap d-none">
                <div class="box free">
                    <div class="numb">0</div>
                    <div class="plan">フリー<span>FREE</span></div>
                    <div class="disc">初めて婚活マッチングを利用する方に<br>ピッタリのお試しプラン</div>
                    <button><a href="">無料ではじめる</a></button>
                    <ul>
                        <li>価値観診断</li>
                        <li>価値観マッチ ( 価値観による紹介 )</li>
                        <li>お相手のプロフィールを見る</li>
                        <li>お相手に「いいね！」をする</li>
                        <li>「いいね！」をくれた方とマッチングする ( 無制限 )</li>
                        <li>非表示機能</li>
                        <li>初回メッセージ１通のみ</li>
                    </ul>
                </div>
                <div class="box standard">
                    <div class="numb">4,500<span>¥4,950(税込)</span></div>
                    <div class="plan">スタンダード<span>STANDARD</span></div>
                    <div class="disc">すべての基本的な機能が利用できる<br>オールインクルーシブプラン</div>
                    <button><a href="">いますぐはじめる</a></button>
                    <ul>
                        <li>お相手とのメッセージのやりとり(無制限)※本人・年齢確認必須</li>
                        <li>「いいね！」できる回数が60回に回復（有料会員登録直後のみ）</li>
                        <li>「いいね！」を送れる回数が、毎月60回に増量</li>
                        <li>あなたを検索結果の上位に表示</li>
                        <li>相手が今もらっている、「いいね！」数がわかる</li>
                        <li>一部並び替え機能(「いいね！」の多い順、新着会 員順、ログイン順)</li>
                        <li>足あとが5件以上見られる</li>
                    </ul>
                </div>
                <div class="box advanced">
                    <div class="numb">6,000<span>¥6,600(税込)</span></div>
                    <div class="plan">アドバンス<span>ADVANCED</span></div>
                    <div class="disc">深い部分の相性がわかる<br>追加オプション</div>
                    <button><a href="">ホンキではじめる</a></button>
                    <ul>
                        <li>スタンダードプランのすべての機能が使える</li>
                        <li>性癖のプロフィールが見れる</li>
                    </ul>
                </div>
            </div> -->
        </div><!-- container -->
    </section>