<!-- templates/core/partials/parts-userprof-mini.html -->
{% load static %}

	<div class="area">
		<div class="profile-feed-mini image">
			<a href="{% url 'user_profile_detail' user_id=user_obj.id %}">
				{% if user_obj.userprofile.profile_image %}
					<img src="{{ user_obj.userprofile.profile_image.url }}" alt="プロフィール画像">
				{% else %}
					<img src="{% static 'img/user-unset.webp' %}" alt="">
				{% endif %}
			</a>
		</div><!-- mini -->
		<div class="info">
			<div class="field timestamp">
				<span class="material-symbols-outlined">schedule</span>{{ created|date:"Y/m/d H:i" }}
			</div><!-- timestamp -->
			<div class="field main-area">
				<span class="material-symbols-outlined">location_on</span>{{ user_obj.userprofile.main_area }}
			</div>
		</div>
		<div class="name-area">
			<a href="{% url 'user_profile_detail' user_id=user_obj.id %}">
				<span class="name-inner">{{ user_obj.userprofile.nickname }}</span>
				<span class="age">{{ user_obj.userprofile.custom_values.age }}</span>
			</a>
		</div><!-- info -->
	</div><!-- area -->
