<!-- templates/core/partials/parts-userprofile.html -->
{% load static %}

{% for user_obj in users %}
<div class="feed {% if not lciq_done %}no-lciq{% endif %}">
    <div class="box">
      <div class="box__wrap">
          <div class="profile image">
            <a href="{% url 'user_profile_detail' user_id=user_obj.id %}">
              {% if user_obj.userprofile and user_obj.userprofile.profile_image %}
                <img src="{{ user_obj.userprofile.profile_image.url }}" alt="プロフィール画像">
              {% else %}
                <img src="{% static 'img/user-unset.webp' %}" alt="">
              {% endif %}
            </a>
          </div>
          <div class="area">
              <div class="area__wrap">
                  <div class="left">
                      <div class="name__area">
                          <!-- user_obj.username -->
                          <span class="name">{{ user_obj.userprofile.nickname }}</span>

                          <!-- user_obj.userprofile から年齢や住所を取得する例 -->
                          <!-- もしUserProfileに age, adress, job, off, aftermatch などのフィールドがあれば... -->
                          <span class="age">
                            {{ user_obj.userprofile.custom_values.age }}
                          </span>
                          <span class="city">
                            {{ user_obj.userprofile.custom_values.adress }}
                          </span>
                      </div>
                      <div class="info__area">
                          <div class="title">職業</div>
                          <div class="job">{{ user_obj.userprofile.custom_values.job }}</div>
                          <div class="title">休日</div>
                          <div class="off">{{ user_obj.userprofile.custom_values.off }}</div>
                          <div class="title">マッチ後</div>
                          <div class="afterMatch">{{ user_obj.userprofile.custom_values.aftermatch }}</div>
                      </div>
                  </div>
                  <div class="right">
                      <div class="lciq-point">{{ user_obj.userprofile.lciq_score }}</div>
                      <div class="image">
                        {% if user_obj.userprofile and user_obj.userprofile.lciq_image %}
                          <img src="{{ user_obj.userprofile.lciq_image.url }}" alt="プロフィール画像">
                        {% else %}
                          <img src="{% static 'img/noimage.jpg' %}" alt="">
                        {% endif %}
                      </div>
                  </div>
              </div>
              <p>
                {{ user_obj.userprofile.bio }}
              </p>
          </div><!-- area -->
      </div><!-- box__wrap -->
      <div class="btn__area">
          <button class="like" data-color="blue"><i class="fas fa-heart"></i>いいね</button>

          <button class="message" data-color="pink" onclick="location.href='{% url 'chat_room' user_id=user_obj.id %}'">
          <i class="fas fa-comments"></i>メッセージ
        </button>
      </div>
    </div><!-- box -->
</div>
{% empty %}
  <div class="epmty">
    <a href="{% url 'userprofile_list' %}">出会いはすぐそこに</a>
  </div>
{% endfor %}
