{% load static %}

<div class="profile-checklist">

    {% if not profile.lciq_image %}
    <div class="lciq-caution">
        <a href="{% url 'h2lciq' %}">
            <img src="{% static 'img/lciq-logo.svg' %}" alt="LCIQ">
            <div class="wrap">
                <div class="head">LCIQ診断がまだ登録されていません</div>
                <p>恋愛偏差値を測定してマッチ率アップ！</p>
            </div>
        </a>
    </div>
    {% endif %}

	{% if not id_verified %}
	<div class="verified-caution">
		<a href="{% url 'profile_edit' %}">
			<!-- <img src="{% static 'img/lciq-logo.svg' %}" alt=""> -->
			<div class="wrap">
				<div class="head">本人確認書類がまだ提出されていません</div>
				<p>提出をするとボカシが取れ、いいねやメッセージが送れます</p>
			</div>
		</a>
	</div>
	{% endif %}
	<ul>
		{% if not all_filled %}
		<li class="profile-check">
			<a href="{% url 'profile_edit' %}">
				<div class="head">プロフィールを完成させるとマッチ率が上がります！</div>
				<p>あと {{ missing_total }} 項目！本当の出会いまであと少し！</p>
			</a>
		</li>
		{% endif %}
		{% if not is_standard %}
		<li>
			<a href="{% url 'checkout_form' %}">
				<div class="head">スタンダード会員ではすべての機能が使えるようになります</div>
				<p>わずらわしいポイントやメッセージ制限はありません</p>
			</a>
		</li>
		{% endif %}
		{% if not plus_filled %}
		<li>
			<a href="{% url 'checkout_form' %}">
				<div class="head">プラスプロフィールで、本当に合う人と出会おう</div>
				<p>出会ってから「違った」と言いにくいことは、出会う前に知っておこう</p>
			</a>
		</li>
		{% endif %}
	</ul>
</div>