<!-- templates/core/userprofile_list.html -->
{% load widget_tweaks %}
<form method="get" class="form">

	<div class="form__wrap">
		<div class="filter">
			<div class="filter__wrap"><!-- 現在位置 -->
				<div class="item radius">
						<div class="head">
							<label for="radius"><span class="material-symbols-outlined">location_on</span>現在地からの距離</label>
						</div>
						{{ filter.form.radius|add_class:"field" }}
						<!-- lat/lon は hidden or JSで埋める -->
						<input type="hidden" name="lat" id="latInput" value="{{ request.GET.lat }}">
						<input type="hidden" name="lon" id="lonInput" value="{{ request.GET.lon }}">
				</div>
					<!-- 必要ならセクションごとに小ボタンを置いても良い -->
					<!-- <button type="submit">この条件だけで検索</button> -->

				<div class="button-area">
					<button type="submit">検索</button>
					<button type="button" onclick="window.location.href='{% url 'userprofile_list' %}'">
						リセット
					</button>
				</div>
			</div>

			<h2 data-toggle="search"><span class="material-symbols-outlined">search</span>プロフィール検索</h2>
			<div class="filter__wrap detail" data-content="search" style="display:none;"><!-- 詳細 -->

				<div class="items">
				{% for field in filter.form.visible_fields %}
					{% if field.name != 'radius' %}
					<div class="item">
						<div class="head">{{ field.label }}</div>
						{{ field|add_class:"field" }}
					</div>
					{% endif %}
				{% endfor %}

				</div>

				<div class="button-area">
					<button type="submit">検索</button>
					<button type="button" onclick="location.href='{% url 'userprofile_list' %}'">
						リセット
					</button>
				</div>
			</div>
		</div><!-- //filter -->
	</div><!-- form__wrap -->

</form>
