<!-- templates/core/footprint_list.html -->
{% extends "base.html" %}
{% load static %}


{% block title %}
あしあと
{% endblock %}

{% block content %}

<div class="footprint mini-list">

	<div class="head-set">
		<h2>VISITOR</h2>
		<h3>あしあと</h3>
	</div>
	<div class="feed feed-mini">
		{% for fp in footprints %}
			{% include "core/partials/parts-userprof-mini.html" with user_obj=fp.from_user created=fp.created_at %}
		{% empty %}
		<p>足あとがありません</p>
		{% endfor %}
	</div>

	<!-- <p><a href="{% url 'home' %}">Home</a></p> -->

</div>

{% endblock %}

