{% extends "base.html" %}

{% block base_class%}{% endblock %}
{% block main_container %}{% endblock %}
{% block footer_class %}d-none{% endblock %}

{% load static %}
{% load profile_extras %}

{% block title %}トップページ{% endblock %}

{% block content %}
<div class="home" id="home">

    <div class="header">
        <div class="header__wrap">
            <div class="logo">
                <a href=""><img src="{% static 'img/logo.svg' %}" alt=""></a>
            </div>
            <ul class="menu">
                <li><a href="#midashi">特徴</a></li>
                <li><a href="#koe">お客様の声</a></li>
                <li><a href="#search">お相手検索</a></li>
                <li><a href="#price">料金</a></li>
                <li><a href="{% url 'account_login' %}">ログイン</a></li>
            </ul>
        </div>
        <div class="header__wrap sp">
            <div class="logo">
                <a href=""><img src="{% static 'img/logo.svg' %}" alt=""></a>
            </div>
            <nav id="menu">
                <ul class="menu">
                    <li><a href="#midashi">特徴</a></li>
                    <li><a href="#koe">お客様の声</a></li>
                    <li><a href="#search">お相手検索</a></li>
                    <li><a href="#price">料金</a></li>
                    <li><a href="{% url 'account_login' %}">ログイン</a></li>
                </ul>
            </nav>
            <button class="nav-button" id="toggle"><span class="material-symbols-outlined">menu</span></button>
        </div>

    </div>


    <section class="kv">
        <div class="kv__wrap">
            <div class="area">
                <div class="box">
                    <h2>ホンキで出会う</h2>
                    <h3>ちゃんとした人と出会う。<br>
                        そのためにちゃんと成長する。<br>
                        そんな当たり前ができること。<br>
                        ここには、<br>
                        適当な出会いはありません。
                    </h3>
                    <div class="wrap">
                        <a class="button" href="{% url 'account_signup' %}">さっそくはじめる</a>
                        <a class="login" href="{% url 'account_login' %}">ログイン</a>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section class="cv" id="cv">
        <div class="cv__wrap container">
            <a class="button" href="{% url 'account_signup' %}">
                さあはじめよう
            </a>
        </div>
    </section>


    <section class="midashi container" id="midashi">
        <div class="h1">
            本気だけど、手軽に出会いたい。<br>
            そんな願いをかなえました。
        </div>
        <p class="d-none d-sm-block">
            総合婚活サービスEXMarry®が運営するマッチングサービスです。<br>
            恋愛偏差値®を使うことで相手との相性がすぐにわかります。<br>
            本気で、手軽に。<br>
            相性のいい相手としか出会うことができないサービスです。
        </p>

        <p class="d-sm-none d-block">
            総合婚活サービスEXMarry®が運営する<br>
            マッチングサービスです。<br>
            恋愛偏差値®を使うことで<br>
            相手との相性がすぐにわかります。<br>
            本気で、手軽に。<br>
            相性のいい相手としか<br>
            出会うことができないサービスです。
        </p>

    </section>

    <section class="feature container" id="feature">
        <div class="feature__wrap">
            <div class="area">
                <div class="title">
                    <div class="honki">EXMATCHがホンキな理由<span>1</span></div>
                    <div class="subtitle">恋愛偏差値®で自分の恋愛力を数値化</div>
                </div>
                <div class="outer">

                    <div class="box">
                        <div class="img"><img src="{% static 'img/honki-1.webp' %}" alt=""></div>
                        <div class="text">
                            <div class="head">漠然とした恋愛はもうおしまい</div>
                            <p>LCIQ®による恋愛偏差値®を掲載。数値化された恋愛力をもとに、相性の良い相手からの「いいね」があるはず。自分の恋愛傾向がわかるので、これからの人生に必ず役立ちます。</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img"><img src="{% static 'img/honki-2.webp' %}" alt=""></div>
                        <div class="text">
                            <div class="head">トライサポートで恋愛力を高める</div>
                            <p>点数が低くても大丈夫。EXMarryが運営する恋愛力向上プラット`フォーム「トライサポート」で自分の恋愛力を高めましょう。
    恋愛偏差値は何度でも検査可能です。その努力は、必ず実ります。</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="area">
                <div class="title">
                    <div class="honki">EXMATCHがホンキな理由<span>2</span></div>
                    <div class="subtitle">プラスプロフィールで相手の深い部分を知る</div>
                </div>
                <div class="outer">
                    <div class="box">
                        <div class="img"><img src="{% static 'img/honki-3.webp' %}" alt=""></div>
                        <div class="text">
                            <div class="head">夜の相性と離婚率は関係している</div>
                            <p>性生活の相性はカップルにとってとても重要です。最初から相手の好みを知ることで、すれ違いを防ぎます。</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="img"><img src="{% static 'img/honki-4.webp' %}" alt=""></div>
                        <div class="text">
                            <div class="head">本当の自分で最高の相手と出会える</div>
                            <p>実は隠してきたことはもうないはず。恋愛力を高め自分をさらけ出すことで、一生のパートナーと出会えるはずです。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="koe container" id="koe">
        <div class="mainTitle">お客様の声</div>

        <div class="area">
            <div class="box">
                <div class="img"><img src="{% static 'img/koe-1.webp' %}" alt=""></div>
                <div class="text">
                    <div class="head">頑張ったから出会いがあった</div>
                    <p>最初は「めんどくさい」と思うこともありましたが、がんばった分だけいい人と出会えると信じてがんばりました。今では頑張ってよかったと思っています</p>
                </div>
            </div>
            <div class="box">
                <div class="img"><img src="{% static 'img/koe-2.webp' %}" alt=""></div>
                <div class="text">
                    <div class="head">本気で出会いたい</div>
                    <p>本気で出会いたかった私にはピッタリのサービスでした。最初は恋愛偏差値が低かったですが、トライサポートのおかげで偏差値もあがり、いい出会いがありました。</p>
                </div>
            </div>
            <div class="box">
                <div class="img"><img src="{% static 'img/koe-3.webp' %}" alt=""></div>
                <div class="text">
                    <div class="head">適当な人がいないのはいいこと</div>
                    <p>本気で出会いたかった私にとっては、ただその時楽しければいい「友達探し」の感じは不要でした。エクスマッチは相手も数値で出ますし、結婚した後も充実した時間を過ごしています。</p>
                </div>
            </div>
        </div>

    </section>

    <section class="oaite" id="oaite">
        <div class="container">
            <div class="mainTitle">お相手検索</div>
            <!-- 女性 -->
            <div class="oaite__loop" id="female">
              <div class="oaite__wrap slider">
                {% for u in female_profiles %}
                <div class="box">
                    <a href="{% url 'user_profile_detail' u.id %}">
                    <div class="image">
                        <img src="{% if u.userprofile.profile_image %}
                                    {{ u.userprofile.profile_image.url }}
                                {% else %}
                                    {% static 'img/user-unset.webp' %}
                                {% endif %}" alt="">

                        <div class="info">

                            <div class="name">
                                {{ u.userprofile.nickname|default:u.username }}
                            </div>

                            <div class="age">
                            {{ u.userprofile.normal_pfvs|pfv_value:'age'|default:'--' }}
                            </div>

                            <div class="lciq">{{ u.userprofile.lciq_score|default:'--' }}</div>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}

              </div>
            </div>
            
            <!-- 男性 -->
            <div class="oaite__loop" id="male">
              <div class="oaite__wrap slider">
                {% for u in male_profiles %}
                <div class="box">
                    <a href="{% url 'user_profile_detail' u.id %}">
                    <div class="image">
                        <img src="{% if u.userprofile.profile_image %}
                                    {{ u.userprofile.profile_image.url }}
                                {% else %}
                                    {% static 'img/user-unset.webp' %}
                                {% endif %}" alt="">

                        <div class="info">
                        <div class="name">
                            {{ u.userprofile.nickname|default:u.username }}
                        </div>
                        <div class="age">
                        {{ u.userprofile.normal_pfvs|pfv_value:'age'|default:'--' }}
                        </div>
                        <div class="lciq">{{ u.userprofile.lciq_score|default:'--' }}</div>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}

              </div>
            </div>

            <div class="button-area">
                <button class="female" data-toggle="female">女性</button>
                <button class="male" data-toggle="male">男性</button>
            </div>
        </div>
    </section>


	<section class="price-home container" id="price">
        <div class="mainTitle">ご利用料金</div>
        <div class="subtitle">
            一般的な結婚相談所での料金は、成婚まで平均して約30万円前後*。<br>
            エクスマッチのスタンダードプランが高いと思うか、安いと感じるか。<br>
            それはあなた次第です。
            <span>*当社調べの中央値。初期費用(約104,500円)、月会費(約21,450円)、成婚料(約220,000円)で計算。</span>
        </div>

        <div class="price-home__wrap">
            <div class="free-area frame-area">
                <div class="box">
                    <div class="head">フリー<span>FREE</span></div>
                    <div class="wrap">
                        <div class="outer">
                            <div class="left">
                                <div class="numb-month">0</div>
                                <p>初めて婚活マッチングを利用する方に<br>ピッタリのお試しプラン</p>
                            </div>
                            <div class="right">
                                <ul class="check">
                                    <li>価値観診断</li>
                                    <li>価値観マッチ ( 価値観による紹介 )</li>
                                    <li>お相手のプロフィールを見る</li>
                                    <li>お相手に「いいね！」をする</li>
                                    <li>「いいね！」をくれた方とマッチングする ( 無制限 )</li>
                                    <li>非表示機能</li>
                                    <li>初回メッセージ１通のみ</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="standard-area">
                <div class="catch">
                    わづらわしいポイントはありません。<br>
                    有料プランは、すべての機能がご利用いただけます。
                </div>

                <div class="plan">
                    <div class="inner">1ヶ月プラン</div>
                    <div class="numb-month">4,500</div>
                </div>

            </div>


            <div class="pack-area">
                <div class="box">
                    <div class="head">3ヶ月パック</div>
                    <div class="inner">
                        <div class="getugaku numb-month">3,850</span></div>
                    </div>
                    <div class="amount">11,550<span>円</span></div>
                    <div class="special agel">
                        <div class="wrap">
                            <div class="numb">4,620<span>円分</span></div>
                            <div class="inner">A-GELポイント<br>プレゼント</div>
                        </div>
                    </div>
                    <div class="special opening">
                        <div class="wrap">
                            <div class="head">オープニングキャンペーン</div>
                            <div class="span">+1ヶ月無料</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="head">6ヶ月パック</div>
                    <div class="inner">
                        <div class="getugaku numb-month">3,150</span></div>
                    </div>
                    <div class="amount">18,900<span>円</span></div>
                    <div class="special agel">
                        <div class="wrap">
                            <div class="numb">7,560<span>円分</span></div>
                            <div class="inner">A-GELポイント<br>プレゼント</div>
                        </div>
                    </div>
                    <div class="special opening">
                        <div class="wrap">
                            <div class="head">オープニングキャンペーン</div>
                            <div class="span">+2ヶ月無料</div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="head">12ヶ月パック</div>
                    <div class="inner">
                        <div class="getugaku numb-month">2,450</span></div>
                    </div>
                    <div class="amount">29,400<span>円</span></div>
                    <div class="special agel">
                        <div class="wrap">
                            <div class="numb">11,760<span>円分</span></div>
                            <div class="inner">A-GELポイント<br>プレゼント</div>
                        </div>
                    </div>
                    <div class="special opening">
                        <div class="wrap">
                            <div class="head">オープニングキャンペーン</div>
                            <div class="span">+3ヶ月無料</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="option-area">
                <div class="catch">
                    オプションも明朗会計。<br>
                    こちらもポイント制ではなく、お申し込みいただければ<br>
                    すぐにご利用いただけます。
                </div>
                <div class="frame-area">
                    <div class="box">
                        <div class="head">プラスプロフィール</div>
                        <div class="wrap">
                            <div class="outer">
                                <div class="special left">
                                    <div class="normal">
                                        <div class="off">50%<br>OFF</div>
                                        <div class="numb-month">1,500</div>
                                    </div>
                                    <div class="sp">
                                        <div class="triangle">
                                            <span class="material-symbols-outlined">stat_minus_3</span>
                                        </div>
                                        <div class="numb-month">750</div>
                                    </div>
                                </div>
                                <div class="right">
                                    <ul class="check">
                                        <li>性指向などのプラスプロフィールが見れる</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="security" id="security">
        <div class="container">
            <div class="mainTitle">
                セキュリティ
            </div>
            <div class="subtitle">
                GPSを使っているからこそ、セキュリティは万全。<br>安心してご利用ください。
            </div>
            <div class="security__wrap">
                <div class="box">
                    <img src="{% static 'img/sc1.webp' %}" alt="">
                    <span>プライバシー<br>守ります</span>
                </div>
                <div class="box">
                    <img src="{% static 'img/sc2.webp' %}" alt="">
                    <span>悪質ユーザー<br>取り締まり</span>
                </div>
                <div class="box">
                    <img src="{% static 'img/sc3.webp' %}" alt="">
                    <span>万全の<br>サポート体制</span>
                </div>
                <div class="box">
                    <img src="{% static 'img/sc4.webp' %}" alt="">
                    <span>高額請求<br>なし</span>
                </div>
            </div>
        </div><!-- container -->
    </section>

    <section class="faq" id="faq">
        <div class="container">
            <div class="mainTitle">FAQ</div>
            <div class="subtitle">よくある質問をまとめました。<br>ぜひ参照してください。</div>

            <div class="faq__wrap">
                <div class="box">
                    <div class="q"><div class="title">無料で利用できますか？</div></div>
                    <div class="a">
                        <div class="title" data-toggle="click">はい、利用できます。</div>
                        <p id="contents" style="display: none;">
                            サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="q"><div class="title">無料で利用できますか？</div></div>
                    <div class="a">
                        <div class="title" data-toggle="click">はい、利用できます。</div>
                        <p id="contents" style="display: none;">
                            サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="q"><div class="title">無料で利用できますか？</div></div>
                    <div class="a">
                        <div class="title" data-toggle="click">はい、利用できます。</div>
                        <p id="contents" style="display: none;">
                            サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="q"><div class="title">無料で利用できますか？</div></div>
                    <div class="a">
                        <div class="title" data-toggle="click">はい、利用できます。</div>
                        <p id="contents" style="display: none;">
                            サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="q"><div class="title">無料で利用できますか？</div></div>
                    <div class="a">
                        <div class="title" data-toggle="click">はい、利用できます。</div>
                        <p id="contents" style="display: none;">
                            サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="q"><div class="title">無料で利用できますか？</div></div>
                    <div class="a">
                        <div class="title" data-toggle="click">はい、利用できます。</div>
                        <p id="contents" style="display: none;">
                            サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="q"><div class="title">無料で利用できますか？</div></div>
                    <div class="a">
                        <div class="title" data-toggle="click">はい、利用できます。</div>
                        <p id="contents" style="display: none;">
                            サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                        </p>
                    </div>
                </div>

            </div>
       </div>
    </section>


    <section class="exm-banner container">
        <h2 class="br">EXMarryが運営する結婚相談所のご案内です。<br>
            EXMATCHよりも手厚くしっかりサポートを受けながら結婚を考えたい方は<br>
            ぜひご検討ください。</h2>
        <a href=""><img src="{% static 'img/banner1.webp' %}" alt=""></a>
    </section>


    <footer class="footer-home">
        <div class="sns container">
            <a class="youtube" href="" target="_blank"><img src="{% static 'img/sns-youtube.webp' %}" alt=""></a>
            <a class="tiktok" href="" target="_blank"><img src="{% static 'img/sns-tiktok.webp' %}" alt=""></a>
        </div>
        <div class="footer-home__wrap container">
            <ul>
                <li><a href="/">会社概要</a></li>
                <li><a href="/">利用規約</a></li>
                <li><a href="/">安心・安全の取り組みとガイド</a></li>
                <li><a href="/">コミュニティガイドライン</a></li>
                <li><a href="/">プライバシーポリシー</a></li>
                <li><a href="/">クッキーポリシー</a></li>
                <li><a href="/">クッキー設定</a></li>
                <li><a href="/">特定商取引法に基づく表示</a></li>
                <li><a href="/">ヘルプ</a></li>
                <li><a href="/">法人･自治体向けサービス</a></li>
                <li><a href="/">採用サイト</a></li>
                <li><a href="/">記事提供元一覧</a></li>
            </ul>
        </div>
        <div class="logo"><a href="/"><img src="{% static 'img/logo.svg' %}" alt="Logo"></a></div>
        <div class="cr"><a href="/">&copy; 2024 EXMATCH</a></div>
    </div>

    </footer>

</div><!-- //home -->

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', () => {
  // 既に生成済みならスキップ
  if (document.querySelector('.mm-ocd')) return;

  const menuEl = document.querySelector('#menu');
  const menu   = new MmenuLight(menuEl, 'all');

  menu.navigation();
  const drawer = menu.offcanvas();

  document.getElementById('toggle').addEventListener('click', e => {
    e.preventDefault();
    drawer.open();
  });
});

</script>
{% endblock %}

{% endblock %}
