<!-- templates/core/user_profile_detail.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}{{ profile.nickname }}{% endblock %}
{% block main_container %}{% endblock %} 
{% block content %}
<section class="profile-detail">

	<!-- アイコンと自己紹介はお好みで -->
	<div class="avator">
		{% if profile.profile_image %}
			<img src="{{ profile.profile_image.url }}" alt="">
		{% else %}
			<img src="{% static 'img/user-unset.webp' %}" alt="">
		{% endif %}
	</div>
	<div class="profile">
		<div class="profile__main">
			<div class="head field">
				{{ profile.nickname }}
			</div>
			<div class="main-area field">
				<span>メインエリア</span>
				{{ profile.main_area }}
			</div>
			<div class="bio field">{{ profile.bio }}</div>
		</div>

		<div class="profile__nomal area">
			<div class="title">PROFILE</div>
			<div class="fields">
				{% for label, v in normal_pairs %}
				<div class="field">
					<div class="head">{{ label }}</div>
					<div class="value">{{ v }}</div>
				</div>
				{% endfor %}
			</div>
		</div>

	{% if request.user.userprofile.has_option %}
		{% for label, v in plus_pairs %}
		<div class="profile__plus area">
			<div class="title">PLUS PROFILE</div>
				<div class="fields">
					<div class="field">
						<div class="head">{{ label }}</div>
						<div class="value">{{ v }}</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	{% endif %}


<div class="actions">
  {# 3. 既にマッチしている #}
  {% if is_matched %}
	<a class="btn message" href="{% url 'chat_room' user_id=profile.user.id %}">メッセージ</a>

  {# 2. 自分は like 済みだがマッチしていない #}
  {% elif is_liked %}
      <p class="waiting">お相手からの返信をお待ちください…</p>

  {# 1. まだ何もしていない #}
  {% else %}
		<a class="btn like" href="{% url 'follow_user' user_id=profile.user.id %}?next={{ request.path }}"><span class="material-symbols-outlined">favorite</span>いいね</a>
  {% endif %}
</div>

	<!-- <p><a href="{% url 'user_list' %}">← 戻る</a></p> -->
</section>
{% endblock %}
