<!-- templates/core/user_profile_detail.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}{{ profile.nickname }}{% endblock %}

{% block content %}
<section class="profile-detail container">

  <!-- アイコンと自己紹介はお好みで -->
  <div class="header">
    {% if profile.profile_image %}
      <img class="avatar" src="{{ profile.profile_image.url }}" alt="">
    {% else %}
      <img class="avatar" src="{% static 'img/user-unset.webp' %}" alt="">
    {% endif %}
    <h2>{{ profile.nickname }}</h2>
    <p>{{ profile.bio }}</p>
  </div>

  <ul class="normal">
    <h2>ノーマルプロフィール</h2>
    {% for label, v in normal_pairs %}
      <li><strong>{{ label }}：</strong> {{ v }}</li>
    {% endfor %}
  </ul>


  <ul class="plus">
    <h2>プラスプロフィール</h2>
    {% if request.user.userprofile.has_option %}
      {% for label, v in plus_pairs %}
        <li><strong>{{ label }}：</strong> {{ v }}</li>
      {% empty %}
        <li>未設定</li>
      {% endfor %}
    {% endif %}
  </ul>


  <div class="actions">
    {% if not is_liked %}
      <a class="btn like" href="{% url 'follow_user' user_id=profile.user.id %}">いいね</a>
    {% endif %}
    {% if is_matched %}
      <a class="btn message" href="{% url 'chat_room' user_id=profile.user.id %}">メッセージ</a>
    {% endif %}
  </div>

  <p><a href="{% url 'user_list' %}">← 戻る</a></p>
</section>
{% endblock %}
