@use "../global/global" as *;

.search{
    .advice{
        ul{
            li{
                padding: 16px;
                border-bottom: 1px dotted $mc;
                @include flex();
                gap: 40px;
                width: 100%;
                justify-content: flex-start;
                &::before{
                    @include flex();
                    font: var(--fa-font-solid);
                    content: '\3f';
                    background-color: $mc;
                    padding: 8px;
                    border-radius: 100%;
                    color: $mc;
                    @include fs(20);
                    color: white;
                    aspect-ratio: 1/1;
                    width: 35px;
                    height: 35px;
                }
                &::after{
                    font: var(--fa-font-solid);
                    content: '\f105';
                }
                a{
                    @include flex();
                    width: 100%;
                    display: block;
                    font-weight: bold;
                    color: $mc;
                    span{
                        display: block;
                        font-weight: normal;
                        @include fs(12);
                    }
                }

                &.task{
                    background-color: $mc;
                    color: white;
                    &::before{
                        font: var(--fa-font-solid);
                        content: '\f304';
                        background-color: white;
                        padding: 8px;
                        border-radius: 100%;
                        color: $mc;
                    }
                    a{
                        color: white;
                    }
                }
            }
        }
    }
    .lciq{
        margin-top: 40px;
        @include flex();
        background-color: $lciq;
        padding: 16px;
        border-radius: 100px;
        color: white;
        gap: 16px;
        .logo{
            width: 150px;
            height: auto;
        }
        a{
            color: white;
            &::after{
                font: var(--fa-font-solid);
                content: '\f105';
                margin-left: 8px;
            }
        }
    }
        
    .newface{
        padding: 16px;
        background-color: $lb;
        .head{
            @include flex();
            justify-content: space-between;
            margin-bottom: 16px;
            .title{
                @include fs(20);
                font-weight: bold;
            }
            a{
                @include fs(10);
                &::after{
                    font: var(--fa-font-solid);
                    content: '\f105';
                    margin-left: 8px;
                }
            }
        }
        &__wrap{
            .box{
                @include flex();
                flex-direction: column;
                width: auto;
                img{
                    width: 100px;
                    height: auto;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                }
                p{
                    @include fs(12);
                }
            }
        }
    }
}

.filter{
    &__wrap{
        
    }
}
