/* src/styles/_layout.scss */
:root{
	--sat: env(safe-area-inset-top);
	--sab: env(safe-area-inset-bottom);
	--header-h: 0px;     /* 使ってるなら 56px などに */
	--footer-h: 64px;    /* フッターの実高さ */
  --app-h: 100vh;
}
@supports (height: 100dvh) { :root{ --app-h: 100dvh; } }  /* 新Unit */
@supports (height: 100svh) { :root{ --app-h: 100svh; } }  /* さらに安定 */


/* 100dvhが使える環境で優先（PWA/iOSで安定） */

html, body, #app { height: var(--app-h); }
body { overflow: hidden; }            /* ルートはスクロールさせない */
body.lp-scroll { overflow-y: auto !important; }

/* 通常 */
.main-scroll{
  height: calc(var(--app-h) - var(--header-h) - var(--footer-h));
  overflow:auto;
}

/* PWAだけ下を安全域ぶん引く（必要なら） */
@media (display-mode: standalone){
  .main-scroll{
    height: calc(var(--app-h) - var(--header-h) - var(--footer-h) - env(safe-area-inset-bottom));
  }
}

.home{
  padding-top: var(--sat);
}

.app-footer-fixed{
	position: fixed;
	left: 0; right: 0; bottom: 0;
	z-index: 1030;
	display: flex;
	align-items: center;
	background: #fff;
	border-top: 1px solid #eee;
}

@media (display-mode: standalone){
  .app-footer-fixed{
    padding-bottom: env(safe-area-inset-bottom); /* iOSノッチぶんだけ増える */
  }
}


